*{
  font-size: clamp(16px, 1.2vw, 1.4rem);
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-radius: 5px;
}
body{
  margin: clamp(5px, 1vw, 2rem)
}
button{
  background-color: red;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
}
a{
  color: inherit;
}
button:active{
  opacity: 0.7;
}
form{
  display: flex;
  flex-wrap: wrap;
  gap: clamp(5px, 1vw, 10px);
}
input{
  border: 1px dashed;
}